@use 'palette';

.access-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.access {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: palette.$green-yellow;
  border-radius: 0.5em;
  padding: 2em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 30em;
  gap: 2em;
  margin-bottom: 2em;
}

.logo-container {
  text-align: center;

  img {
    width: 150px;
    height: auto;
    border-radius: 10%;
  }
}

h2 {
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  color: palette.$black-green;
}
