@use 'palette';

.access-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.access {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: palette.$green-yellow;
  border-radius: 0.5em;
  padding: 2em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 30em;
  gap: 2em;
  margin-bottom: 2em;
}

.logo-container {
  text-align: center;

  img {
    width: 150px;
    height: auto;
    border-radius: 10%;
  }
}

h2 {
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  color: palette.$black-green;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1em;
  width: 100%;

  label {
    display: block;
    color: palette.$black-green;
  }

  input {
    padding: .5em;
    border: none;
    border-radius: .5em;
    width: 100%;

    &:focus {
      outline: 2px solid palette.$shamrock-green;
      outline-offset: 2px;
    }
  }

  .hint {
    display: none;

  }

  .avatar-preview {
    width: 20em;
    max-height: 20em;
    object-fit: cover;
    background-color: palette.$white;

  }
}


button[type="submit"] {
  width: 50%;
  padding: 10px;
  background-color: palette.$jade;
  color: palette.$white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: palette.$shamrock-green;
  }
}

.link-container {
  text-align: center;

  a {
    text-decoration: none;
    color: palette.$jade;
    transition: color 0.3s;

    &:hover {
      color: palette.$shamrock-green;
    }
  }
}

input[type="file"] {
  padding: 4px;
  margin: -4px;
  position: relative;
  outline: none;

  &::file-selector-button {
    border-radius: 4px;
    padding: 0 16px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(#000, 0.16);
    box-shadow: 0 1px 0 rgba(#000, 0.05);
    margin-right: 16px;

    width: 132px;
    color: transparent;

    @supports (-moz-appearance: none) {
      color: palette.$shamrock-green;
    }

    &:hover {
      background-color: palette.$white;
    }

    &:active {
      background-color: palette.$white;
    }
  }

  &::before {
    position: absolute;
    pointer-events: none;
    top: 14px;
    left: 16px;
    height: 20px;
    width: 20px;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
  }

  &::after {
    position: absolute;
    pointer-events: none;
    top: 16px;
    left: 40px;
    color: palette.$shamrock-green;
    content: "Upload File";
  }

  &:focus-within::file-selector-button,
  &:focus::file-selector-button {
    outline: 2px solid palette.$shamrock-green;
    outline-offset: 2px;
  }
}
