@use 'palette';

body {
  background-color: palette.$green-yellow;
}

// Banner container styles
.banner-container {
  display: flex;
  flex-direction: row;
  align-content: center;

  .banner-image {
    max-height: 90vh;
  }

  .banner-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: start;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 5em;
    color: palette.$jade-2;

    .title {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      font-size: 3em;
      font-weight: 700;
      line-height: 1;
      margin-bottom: 1em;

      .segment {
        display: block;

        &::first-letter {
          font-size: 1.25em;
          font-weight: 900;
          color: palette.$shamrock-green;
        }
      }
    }

    .button-container {
      display: flex;
      flex-direction: row;
      justify-content: start;

      .button {
        margin: 1rem;
        padding: 1em 2em;
        background-color: palette.$shamrock-green;
        color: palette.$white;
        text-decoration: none;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: palette.$jade-2;
        }
      }
    }
  }

  @media screen and (max-width: 1000px) {
    flex-direction: column;

    .banner-text {
      align-content: center;
      padding: 5em;

      .title {
        flex-direction: row;
        column-gap: 0.5em;
        justify-content: center;
        font-size: 2em;
      }

      .button-container {
        flex-direction: row;
        justify-content: center;
      }
    }

    .banner-image {
      max-height: none;
    }
  }

  @media screen and (min-width: 1000px) and (max-width: 1260px) {
    .banner-text .button-container {
      flex-direction: column;
      align-content: start;
    }
  }

  @media screen and (max-width: 566px) {
    .banner-text .button-container {
      flex-direction: column;
      align-content: start;
    }
  }
}